---
import Layout from "../layouts/Layout.astro";
import Header from "../components/layout/Header.astro";
import { Hero } from "../components/home/Hero";
import Intro from "../components/home/Intro.astro";
import { ServicesScroll } from "../components/home/ServicesScroll";
import { SelectedWork } from "../components/home/SelectedWork";
import { OurTeam } from "../components/home/OurTeam";
import { Footer } from "../components/layout/Footer";
---

<Layout title="Creative Digital Studio">
  <Header />
  <main>
    <Hero client:load />
    <Intro />
    <ServicesScroll client:load />
    <SelectedWork client:load />
    <OurTeam client:load />
    <Footer client:load />
  </main>
</Layout>
