---
import Layout from "../layouts/Layout.astro";
---

<Layout title="DSIGN Creative Studio // Website Under Construction">
  <main
    class="h-screen w-full flex flex-col items-center justify-center p-4 transition-colors-container"
  >
    <div class="w-full max-w-lg mb-8 flex justify-center">
      <a
        id="logo-link"
        href="https://www.instagram.com/wedsign.eu"
        target="_blank"
        rel="noopener noreferrer"
        class="inline-block w-full logo-interaction"
      >
        <!-- Inline SVG with fill-current to obey CSS color -->
        <svg
          viewBox="0 0 284 51"
          xmlns="http://www.w3.org/2000/svg"
          class="w-full h-auto fill-current"
        >
          <g transform="matrix(1,0,0,1,-273.601925,-292.522994)">
            <g transform="matrix(1,0,0,1,-54,23)">
              <g
                transform="matrix(1.651747,0,-0.052822,0.242596,-140.414858,182.430896)"
              >
                <g transform="matrix(1,0,0,1,2.384885,0)">
                  <path
                    d="M336.851,386.102L336.851,358.364C336.851,356.991 336.998,356.012 337.204,356.012L350.604,356.012C352.269,356.012 353.787,357.825 355.156,361.406C356.545,365.037 357.74,369.979 358.742,376.203C359.749,382.46 360.536,389.655 361.102,397.79C361.665,405.896 361.949,414.418 361.949,423.356L361.949,502.416C361.949,511.243 361.672,519.663 361.115,527.669C360.564,535.594 359.798,542.607 358.817,548.703C357.837,554.786 356.669,559.606 355.312,563.154C353.952,566.707 352.447,568.488 350.796,568.488L332.346,568.488C332.213,568.488 332.074,568.079 331.968,567.375C331.862,566.671 331.801,565.748 331.801,564.864L331.801,388.454C331.801,387.081 331.948,386.102 332.154,386.102L336.851,386.102ZM337.749,392.078L337.749,532.422L350.604,532.422C351.354,532.422 352.049,531.594 352.689,529.936C353.335,528.264 353.901,525.991 354.389,523.113C354.874,520.254 355.257,516.936 355.538,513.154C355.813,509.465 355.951,505.463 355.951,501.144L355.951,422.084C355.951,417.891 355.821,414.003 355.555,410.422C355.289,406.851 354.928,403.715 354.47,401.015C354.004,398.265 353.462,396.102 352.845,394.505C352.216,392.875 351.533,392.078 350.796,392.078L337.749,392.078Z"
                  ></path>
                </g>
                <g transform="matrix(1,0,0,1,1.430931,0)">
                  <path
                    d="M365.154,386.102L369.901,386.102L369.901,358.364C369.901,356.991 370.048,356.012 370.254,356.012L386.804,356.012C387.83,356.012 388.82,357.22 389.775,359.619C390.733,362.027 391.602,365.331 392.383,369.519C393.182,373.807 393.819,379.002 394.291,385.111C394.761,391.185 394.999,397.738 394.999,404.771L394.999,438.401C394.999,439.293 394.936,440.048 394.829,440.449C394.721,440.851 394.58,440.855 394.447,440.461L389.347,425.416C389.144,424.818 389.001,423.438 389.001,422.084L389.001,403.499C389.001,400.583 388.798,398.007 388.402,395.747C387.974,393.297 387.505,392.078 386.996,392.078L370.799,392.078L370.799,421.045L394.653,491.414C394.856,492.012 394.999,493.392 394.999,494.746L394.999,524.836C394.999,530.772 394.769,536.452 394.302,541.858C393.848,547.106 393.238,551.741 392.471,555.754C391.71,559.735 390.862,562.849 389.928,565.095C388.985,567.36 388.008,568.488 386.996,568.488L372.346,568.488C371.352,568.488 370.403,567.326 369.498,565.023C368.581,562.688 367.772,559.44 367.07,555.3C366.359,551.108 365.804,546.27 365.403,540.788C365.003,535.315 364.801,529.574 364.801,523.564L364.801,471.054C364.801,470.162 364.864,469.407 364.971,469.006C365.079,468.604 365.22,468.6 365.353,468.994L370.453,484.039C370.656,484.637 370.799,486.017 370.799,487.371L370.799,524.836C370.799,527.364 370.866,529.301 371.08,530.565C371.318,531.97 371.678,532.422 372.154,532.422L386.804,532.422C387.374,532.422 387.899,531.577 388.379,529.895C388.785,528.474 389.001,526.407 389.001,523.564L389.001,514.665L370.247,459.341C370.231,459.295 370.216,459.244 370.201,459.188L365.101,440.308C364.921,439.643 364.801,438.368 364.801,437.129L364.801,388.454C364.801,387.081 364.948,386.102 365.154,386.102Z"
                  ></path>
                </g>
                <path
                  d="M404.349,359.636L404.349,566.431C404.349,567.804 404.202,568.783 403.996,568.783L398.846,568.783C398.713,568.783 398.574,568.374 398.468,567.67C398.362,566.966 398.301,566.043 398.301,565.159L398.301,358.364C398.301,356.991 398.448,356.012 398.654,356.012L403.804,356.012C403.937,356.012 404.076,356.421 404.182,357.125C404.288,357.829 404.349,358.752 404.349,359.636Z"
                ></path>
                <g transform="matrix(1,0,0,1,-1.907908,0)">
                  <path
                    d="M408.451,519.729L408.451,403.499C408.451,396.646 408.644,390.26 409.031,384.341C409.417,378.444 409.952,373.427 410.636,369.288C411.315,365.18 412.099,361.943 412.986,359.581C413.882,357.199 414.821,356.012 415.804,356.012L434.904,356.012C435.037,356.012 435.176,356.421 435.282,357.125C435.388,357.829 435.449,358.752 435.449,359.636L435.449,389.726C435.449,391.099 435.302,392.078 435.096,392.078L415.996,392.078C415.493,392.078 415.114,393.271 414.862,395.692C414.587,398.335 414.449,401.36 414.449,404.771L414.449,521.001C414.449,524.2 414.57,527.044 414.827,529.524C415.042,531.595 415.374,532.422 415.804,532.422L432.651,532.422L432.651,467.008L420.446,467.008C420.27,467.008 420.089,466.299 419.985,465.205C419.881,464.11 419.873,462.839 419.965,461.971L423.165,431.881C423.229,431.282 423.333,430.942 423.454,430.942L438.104,430.942C438.237,430.942 438.376,431.351 438.482,432.055C438.588,432.759 438.649,433.682 438.649,434.566L438.649,536.046C438.649,537.419 438.502,538.398 438.296,538.398L433.549,538.398L433.549,566.136C433.549,567.509 433.402,568.488 433.196,568.488L415.996,568.488C414.999,568.488 414.048,567.269 413.14,564.856C412.224,562.416 411.415,559.066 410.714,554.823C410.003,550.518 409.445,545.305 409.043,539.171C408.65,533.165 408.451,526.684 408.451,519.729Z"
                  ></path>
                </g>
                <g transform="matrix(1,0,0,1,-3.338839,0)">
                  <path
                    d="M440.21,564.28L445.91,395.245C445.915,395.121 445.92,395.001 445.927,394.885C446.615,383.308 447.607,373.972 448.898,366.863C450.209,359.643 451.877,356.012 453.904,356.012L465.354,356.012C465.487,356.012 465.626,356.421 465.732,357.125C465.838,357.829 465.899,358.752 465.899,359.636L465.899,386.102L470.454,386.102C470.587,386.102 470.726,386.511 470.832,387.215C470.938,387.919 470.999,388.842 470.999,389.726L470.999,566.136C470.999,567.509 470.852,568.488 470.646,568.488L465.546,568.488C465.413,568.488 465.274,568.079 465.168,567.375C465.062,566.671 465.001,565.748 465.001,564.864L465.001,392.078L454.096,392.078C453.576,392.078 453.164,393.193 452.863,395.453C452.517,398.053 452.185,400.31 451.868,402.224L446.791,566.676C446.757,567.775 446.621,568.488 446.446,568.488L440.746,568.488C440.597,568.488 440.442,567.975 440.334,567.125C440.226,566.275 440.179,565.204 440.21,564.28Z"
                  ></path>
                </g>
              </g>
            </g>
            <g transform="matrix(1,0,0,1,-54,23)">
              <g
                transform="matrix(0.995951,0,-0.171429,0.723948,-353.109086,239.948812)"
              >
                <path
                  d="M705.757,87.058C705.774,87.047 705.851,86.999 705.901,86.951C706.031,86.828 706.154,86.67 706.273,86.478C706.392,86.288 706.49,86.07 706.569,85.826C706.636,85.618 706.673,85.413 706.673,85.206L706.673,57.856C706.673,57.476 706.873,57.208 707.157,57.208L710.828,57.208C711.015,57.208 711.212,57.325 711.363,57.527C711.514,57.729 711.602,57.993 711.602,58.244L711.602,85.594C711.602,85.964 711.717,86.299 711.943,86.601C712.169,86.901 712.414,87.058 712.681,87.058L717.285,87.058L717.285,57.856C717.285,57.476 717.486,57.208L721.441,57.208C721.628,57.208 721.825,57.325 721.976,57.527C722.127,57.729 722.215,57.993 722.215,58.244L722.215,88.094C722.215,88.474 722.014,88.742 721.731,88.742L718.544,88.742L718.544,93.194C718.544,93.574 718.344,93.842 718.06,93.842L712.971,93.842C712.188,93.842 711.437,93.663 710.721,93.309C710.181,93.043 709.688,92.679 709.243,92.221C708.828,92.689 708.366,93.055 707.859,93.32C707.181,93.675 706.581,93.842 706.066,93.842L704.212,93.842C703.456,93.842 702.727,93.673 702.024,93.338C701.305,92.996 700.67,92.526 700.117,91.936C699.56,91.342 699.087,90.653 698.697,89.868C698.302,89.072 698.032,88.208 697.891,87.276L697.889,87.265L693.746,58.015C693.682,57.564 693.89,57.208 694.218,57.208L697.926,57.208C698.091,57.208 698.266,57.3 698.41,57.464C698.553,57.628 698.654,57.85 698.687,58.078L702.813,85.906C702.978,86.342 703.135,86.671 703.309,86.876C703.449,87.042 703.655,87.058 703.922,87.058L705.757,87.058Z"
                ></path>
                <path
                  d="M744.606,73.935C745.609,74.674 746.365,75.699 746.879,77.003C747.395,78.311 747.656,79.674 747.656,81.094L747.656,86.194C747.656,87.223 747.51,88.206 747.217,89.143C746.929,90.062 746.536,90.872 746.038,91.575C745.537,92.282 744.95,92.835 744.277,93.234C743.593,93.641 742.862,93.842 742.083,93.842L730.526,93.842C729.634,93.842 728.81,93.632 728.054,93.223C727.27,92.799 726.592,92.208 726.018,91.457C725.439,90.7 724.994,89.826 724.683,88.836C724.381,87.873 724.227,86.863 724.227,85.806L724.227,81.356C724.227,81.102 724.318,80.89 724.473,80.782L728.143,78.232C728.333,78.1 728.59,78.146 728.805,78.35C729.02,78.554 729.157,78.882 729.157,79.194L729.157,86.194C729.157,86.427 729.195,86.615 729.338,86.732C729.611,86.955 729.911,87.058 730.236,87.058L741.793,87.058C741.963,87.058 742.155,86.914 742.401,86.692C742.619,86.496 742.727,86.199 742.727,85.806L742.727,80.706C742.727,80.602 742.692,80.504 742.631,80.41C742.475,80.167 742.301,79.913 742.11,79.647L739.765,78.034L734.925,81.03C734.734,81.149 734.482,81.095 734.272,80.89C734.063,80.684 733.931,80.363 733.931,80.056L733.931,74.356C733.931,74.107 734.018,73.898 734.167,73.789L741.109,68.689C741.182,68.635 741.267,68.608 741.357,68.608C741.451,68.608 741.514,68.494 741.598,68.357C741.732,68.137 741.782,67.796 741.782,67.356L741.782,65.456C741.782,64.974 741.71,64.545 741.544,64.172C741.464,63.992 741.335,63.942 741.175,63.942L730.526,63.942C730.187,63.942 729.887,64.157 729.602,64.537C729.314,64.92 729.157,65.349 729.157,65.844L729.157,70.294C729.157,70.553 729.063,70.767 728.904,70.873C728.745,70.979 728.539,70.963 728.348,70.831L724.678,68.281C724.411,68.095 724.227,67.719 724.227,67.356L724.227,65.456C724.227,64.401 724.371,63.373 724.662,62.373C724.949,61.384 725.361,60.503 725.896,59.73C726.431,58.959 727.063,58.339 727.794,57.873C728.541,57.396 729.355,57.158 730.236,57.158L740.885,57.158C741.707,57.158 742.472,57.419 743.18,57.925C743.876,58.423 744.495,59.083 745.038,59.906C745.575,60.72 745.996,61.648 746.299,62.689C746.597,63.713 746.747,64.765 746.747,65.844L746.747,67.744C746.747,69.122 746.501,70.448 746,71.718C745.654,72.594 745.19,73.334 744.606,73.935Z"
                ></path>
              </g>
            </g>
          </g>
        </svg>
      </a>
    </div>
    <h1
      class="text-sm md:text-base lg:text-xl font-kode-mono text-brand-pink text-center uppercase tracking-widest leading-tight transition-colors duration-300 [.has-\[\#logo-link\:hover\]_&]:text-brand-yellow"
    >
      Web Under Construction
    </h1>
  </main>
</Layout>
